



 .container {
    display: flex;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px - 12px #fff;  
    padding: 10px;
    margin: 10px;
    height: 200px;
    width: 900px;
  }
  .container:hover{
    box-shadow: 
    -6px -6px - 12px #fff, 6px 6px 12px #c5c5c5;
}  
  
  .image {
    flex: 1;
    margin-right: 10px;
  }
  
  .image img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .main {
    flex: 2;
    
  }
  
 
  
  h6 {
    font-size: 16px;
    margin: 5px 0;
    padding-bottom: 5px;
  }
  
  p {
    font-size: 14px;
    margin: 5px 0;
   
  }

  span{
    font-size: 13px;
    font-weight: lighter;
    margin: 5px 0;
    padding-top:10px ;
  }

 .fav{
   margin-top: 10px;
    
 }

 .p{
    display: none
 }

 